<form class="pure-form pure-form-aligned" action="addProject" method="post" accept-charset="utf-8">
	<fieldset>
		<legend>Add a new project</legend>
		
		<div class="pure-control-group">
			<label for="name">Project Name:</label>
			<input id="name" type="text" placeholder="Project Name" name="name">
		</div>

		<div class="pure-control-group">
			<label for="description">Description</label>
			<textarea id="description"></textarea>
		</div>
	</fieldset>
</form>